nav ul li{
    list-style: none;
    margin-right:100px;

}
ul li a{
    text-decoration: none;

}

nav ul{
    display:flex;
    justify-content: space-between;
}
.list-item{
     color:#4E47FF;
    width:1450px;
    font-size: 15px;
    font-weight:bolder;
    font-size: 15px;
    

}
.list-item2{
    color:#FFFFFF;
    background-color:#4E47FF;
     font-size: 45%;
     height: 15px;
     width:40px;
      border-radius: 2px;
      padding:2px 5px;
     border:none;  
}
.button-item{
    color:#FFFFFF;
    background-color:#4E47FF;
     font-size: 8px;
     height: 20px;
     width:90px;
     border-radius: 4px;
      padding:3px 8px;
      ;
     border:none;  

}

.banner{
    margin :100px;
    text-align: center;  
}
.head-item{
    background-image:url('../images/Hero-bg.png');
    background-repeat: none;
    height: 350px;
   
}
div h3{
    color:#252432;
    margin-bottom:5px;
   
}
div p{
 color:#252432;
 font-size: 12px;
 width:200px;
}

.container-img{
    border-radius: 30px;
}
.container{
display:flex;
margin-top:20px;
margin-left:600px;
}

.pu-head{
    text-align: center;
    color:black;
    padding: 30px 5px;
}


.pu-main{
  
    color:#4E47FF;
    font-weight: bold;
    background-color:rgb(208, 217, 224);
  
   margin:0 120px 0 120px;
   border-radius: 20px;
    
}
.productive-users{
    display:flex;
   margin-left:500px; 
}
.pu-setup{
    margin:50px;
}

.feedback-head{
    text-align: center;
}
.feedback-reviewer{
    display:flex;
}
.feedback-main{
    display:flex;
    margin-left:700px;
}

.webflow-conf{
    background-color: rgb(208, 217, 224);
    margin:0 120px 0 120px;
    border-radius: 20px;
    
}
.web-title{
    margin-left: 700px;

}
.febflow-button{
    margin-left: 750px;

}
.webflow-img{
    margin-top:10px;
    margin-left:360px;

}
 
